#basic-layout {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#basic-layout-nav {
  width: 180px;
  background-color: antiquewhite;
}

#basic-layout-main {
  width: calc(100% - 180px);
}