.M-themeModal
    .colors-con
        margin-top: 20px
        display: grid
        grid-template-columns: repeat(6, 1fr)
        row-gap: 10px
    .theme-color
        margin: 0 auto
        width: 60px
        height: 60px
        line-height: 68px
        border-radius: 6px
        cursor: pointer
        text-align: center