.M-header
    position: relative
    z-index: 999
    border-radius: 0
    overflow hidden
    .ant-card-body
        padding: 16px 24px
        height: 62px
        line-height: 32px
    .header-wrapper
        display: flex
        .logo-con
            display: flex
            font-size: 30px
            font-weight: bold
        .menu-con
            margin-left: 20px
            width: 300px
        .opt-con
            display: flex
            flex: 1
            justify-content: flex-end
            gap: 20px